<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <Filter>[Weaviate.Client]Weaviate.Client.Rest.Dto.*</Filter>
            <Filter>[Weaviate.Client]Weaviate.Client.Grpc.Protobuf.*</Filter>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
