services:
  weaviate:
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8080'
      - --scheme
      - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.27.8
    ports:
      - "8080:8080"
      - "50051:50051"
    restart: on-failure:0
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_MODULES: text2vec-transformers,generative-dummy,reranker-dummy
      AUTOSCHEMA_ENABLED: 'false'
      DISABLE_TELEMETRY: 'true'
      DISABLE_LAZY_LOAD_SHARDS: 'true'
      TRANSFORMERS_INFERENCE_API: http://transformers:8080

  transformers:
    image: cr.weaviate.io/semitechnologies/model2vec-inference:minishlab-potion-retrieval-32M
    ports:
      - "8000:8080"
    environment:
      ENABLE_CUDA: 0
